In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [4]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

In [5]:
internet_df = pd.read_csv("../data/internet_use.csv", nrows=4496)

In [6]:
print(gdp_df[:])
## Q7: There are  6860 rows and 4 Columns

     Country or Area                                      Year        Value  \
0        Afghanistan                                      2019  2065.036398
1        Afghanistan                                      2018  2033.779002
2        Afghanistan                                      2017  2058.383832
3        Afghanistan                                      2016  2057.062164
4        Afghanistan                                      2015  2068.265904
...              ...                                       ...          ...
6865        Zimbabwe                                      1992  3054.889178
6866        Zimbabwe                                      1991  3426.598094
6867        Zimbabwe                                      1990  3324.348171
6868   footnoteSeqID                                  Footnote          NaN
6869               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
6865              NaN
6866              NaN
6867              NaN
6868              NaN
6869              NaN

[6870 rows x 4 columns]

In [9]:
print(internet_df[:])
## Q7 There are 4496 rows and 4 columns

     Country or Area      Year     Value  Value Footnotes
0        Afghanistan      2014  6.390000              NaN
1        Afghanistan      2013  5.900000              NaN
2        Afghanistan      2012  5.454545              NaN
3        Afghanistan      2011  5.000000              NaN
4        Afghanistan      2010  4.000000              NaN
...              ...       ...       ...              ...
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN

[4496 rows x 4 columns]

In [10]:
print(gdp_df.dtypes)
## Q:8

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [11]:
print(internet_df.dtypes)
## Q:8

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [13]:
print(gdp_df[-10:])
## Q:9

     Country or Area                                      Year        Value  \
6860        Zimbabwe                                      1997  3580.048793
6861        Zimbabwe                                      1996  3520.430146
6862        Zimbabwe                                      1995  3226.413930
6863        Zimbabwe                                      1994  3263.934978
6864        Zimbabwe                                      1993  3033.504852
6865        Zimbabwe                                      1992  3054.889178
6866        Zimbabwe                                      1991  3426.598094
6867        Zimbabwe                                      1990  3324.348171
6868   footnoteSeqID                                  Footnote          NaN
6869               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes
6860              NaN
6861              NaN
6862              NaN
6863              NaN
6864              NaN
6865              NaN
6866              NaN
6867              NaN
6868              NaN
6869              NaN

In [15]:
print(internet_df[-10:])
## Q:9

     Country or Area      Year     Value  Value Footnotes
4486        Zimbabwe      2001  0.799846              NaN
4487        Zimbabwe      2000  0.401434              NaN
4488        Zimbabwe      1999  0.161676              NaN
4489        Zimbabwe      1998  0.081648              NaN
4490        Zimbabwe      1997  0.033080              NaN
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN

In [18]:
del gdp_df['Value Footnotes']

In [19]:
print(gdp_df)
## Q:10

     Country or Area                                      Year        Value
0        Afghanistan                                      2019  2065.036398
1        Afghanistan                                      2018  2033.779002
2        Afghanistan                                      2017  2058.383832
3        Afghanistan                                      2016  2057.062164
4        Afghanistan                                      2015  2068.265904
...              ...                                       ...          ...
6865        Zimbabwe                                      1992  3054.889178
6866        Zimbabwe                                      1991  3426.598094
6867        Zimbabwe                                      1990  3324.348171
6868   footnoteSeqID                                  Footnote          NaN
6869               2  Excludes South Sudan after July 9, 2011.          NaN

[6870 rows x 3 columns]

In [23]:
 del internet_df['Value Footnotes']
print(internet_df)
## Q:10

     Country or Area      Year     Value
0        Afghanistan      2014  6.390000
1        Afghanistan      2013  5.900000
2        Afghanistan      2012  5.454545
3        Afghanistan      2011  5.000000
4        Afghanistan      2010  4.000000
...              ...       ...       ...
4491        Zimbabwe      1996  0.016790
4492        Zimbabwe      1995  0.007684
4493        Zimbabwe      1994  0.001739
4494        Zimbabwe      1990  0.000000
4495   footnoteSeqID  Footnote       NaN

[4496 rows x 3 columns]

In [33]:
gdp_df.columns = ['Country', 'Year', 'GDP_Per_Capita']
print(gdp_df)
## Q:11

            Country                                      Year  GDP_Per_Capita
0       Afghanistan                                      2019     2065.036398
1       Afghanistan                                      2018     2033.779002
2       Afghanistan                                      2017     2058.383832
3       Afghanistan                                      2016     2057.062164
4       Afghanistan                                      2015     2068.265904
...             ...                                       ...             ...
6865       Zimbabwe                                      1992     3054.889178
6866       Zimbabwe                                      1991     3426.598094
6867       Zimbabwe                                      1990     3324.348171
6868  footnoteSeqID                                  Footnote             NaN
6869              2  Excludes South Sudan after July 9, 2011.             NaN

[6870 rows x 3 columns]

In [37]:
internet_df.columns = ['Country', 'Year', 'Internet_Users_PCT']
print(internet_df)
## Q:12

            Country      Year  Internet_Users_PCT
0       Afghanistan      2014            6.390000
1       Afghanistan      2013            5.900000
2       Afghanistan      2012            5.454545
3       Afghanistan      2011            5.000000
4       Afghanistan      2010            4.000000
...             ...       ...                 ...
4491       Zimbabwe      1996            0.016790
4492       Zimbabwe      1995            0.007684
4493       Zimbabwe      1994            0.001739
4494       Zimbabwe      1990            0.000000
4495  footnoteSeqID  Footnote                 NaN

[4496 rows x 3 columns]

In [39]:
outer_merged = pd.merge(internet_df, gdp_df, how="outer", on=["Country", "Year"])
outer_merged.head()
outer_merged.shape
print(outer_merged)
## Q:13

          Country                                      Year  \
0     Afghanistan                                      2014
1     Afghanistan                                      2013
2     Afghanistan                                      2012
3     Afghanistan                                      2011
4     Afghanistan                                      2010
...           ...                                       ...
7902     Zimbabwe                                      2015
7903     Zimbabwe                                      1993
7904     Zimbabwe                                      1992
7905     Zimbabwe                                      1991
7906            2  Excludes South Sudan after July 9, 2011.

      Internet_Users_PCT  GDP_Per_Capita
0               6.390000     2102.385234
1               5.900000     2116.465454
2               5.454545     2075.491747
3               5.000000     1904.559799
4               4.000000     1957.029338
...                  ...             ...
7902                 NaN     2958.209004
7903                 NaN     3033.504852
7904                 NaN     3054.889178
7905                 NaN     3426.598094
7906                 NaN             NaN

[7907 rows x 4 columns]

In [40]:
print(outer_merged[5:])
## Q:14

          Country                                      Year  \
5     Afghanistan                                      2009
6     Afghanistan                                      2008
7     Afghanistan                                      2007
8     Afghanistan                                      2006
9     Afghanistan                                      2005
...           ...                                       ...
7902     Zimbabwe                                      2015
7903     Zimbabwe                                      1993
7904     Zimbabwe                                      1992
7905     Zimbabwe                                      1991
7906            2  Excludes South Sudan after July 9, 2011.

      Internet_Users_PCT  GDP_Per_Capita
5               3.550000     1758.904043
6               1.840000     1484.114729
7               1.900000     1460.826075
8               2.107124     1315.789565
9               1.224148     1286.793508
...                  ...             ...
7902                 NaN     2958.209004
7903                 NaN     3033.504852
7904                 NaN     3054.889178
7905                 NaN     3426.598094
7906                 NaN             NaN

[7902 rows x 4 columns]

In [41]:
print(outer_merged[-5:])
## Q:15

       Country                                      Year  Internet_Users_PCT  \
7902  Zimbabwe                                      2015                 NaN
7903  Zimbabwe                                      1993                 NaN
7904  Zimbabwe                                      1992                 NaN
7905  Zimbabwe                                      1991                 NaN
7906         2  Excludes South Sudan after July 9, 2011.                 NaN

      GDP_Per_Capita
7902     2958.209004
7903     3033.504852
7904     3054.889178
7905     3426.598094
7906             NaN